$db-secondary: #eec643ff;
$db-text: #141414ff;
$db-bg: #eef0f2ff;
$db-primary: #0d21a1ff;
$db-details: #011638ff;
/*
    Colore Primario
    $zaffre: #0d21a1ff
    Questo blu vivido e intenso è perfetto come colore primario. È ideale per i pulsanti principali, i link e gli elementi di navigazione principali. È un colore forte che può facilmente attirare l'attenzione.
    Colore Secondario
    $saffron: #eec643ff
    Questo giallo luminoso è un ottimo colore secondario. Funziona bene per evidenziare elementi importanti, come i pulsanti secondari, le notifiche o i banner. Fornisce un buon contrasto con il blu zaffiro.
    Colore di Sfondo
    $antiflash-white: #eef0f2ff
    Questo bianco leggermente grigiastro è ideale come colore di sfondo. È chiaro e neutro, fornendo un buon contrasto con i colori più scuri usati per il testo e altri elementi.
    Colore del Testo
    $night: #141414ff
    Questo nero è ottimo per il testo principale. È sufficientemente scuro da garantire una buona leggibilità su sfondi chiari come l'antiflash white.
    Colore Alternativo del Testo / Dettagli
    $oxford-blue: #011638ff
    Questo blu scuro può essere utilizzato per i titoli, i sottotitoli o il testo di minor importanza. Fornisce un buon contrasto senza essere troppo forte come il nero.
*/